 /*
 VFW Project 1 Week 2: form.html Styles
 by: Troy Steveson
 1/13/13 
 for: CSS Styles
 */
 


body {
	background-color: #f9f6f6;
	p.serif{font-family:"Times New Roman",Times,serif;}
} 
 
nav {
	font-size: medium;
}

h1 {
	margin: 10px 25px;
	padding: 10px;
	border: 1px solid black;
	border:1px solid red;
	outline-style:solid;
	outline-color:black;
	background-color: white;
	font-family: sans-serif;
	

}
 
 form span{color: red;}
 form background{color: #faf2f2;}
 form outline{color: blue;}
 form border{color: black;
}
 
